.parent{
    background-color: gray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container{
    background-color: rgb(243, 158, 158);
    height: 30%;
    width: 30%;
    padding: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: top;
    justify-content: top;
    border-radius: 10%;
   
}
