 .main{
    width:100%;
    height:100%;
    background-color: black;
    border-radius: 10%;
    object-fit: cover;
}
.header{
    width: 100%;
    height: 10%;
    background-color: brown;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}
.footer{
    width: 100%;
    height: 85%;
    background-color: yellowgreen;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    /* text-align: center;
    align-items: baseline; */
    object-fit: cover;

}
.card{
    width: 40%;
    height: 30%;
    background-color: white;
    margin-top: 50px; 
    outline: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
}
.cardtop{
    width:100%;
    height:25%;
    background-color: grey;
    color: black;
    display: flex;
    border-radius: 7%; 
    object-fit: cover;

}

.cardmid{
    width: 100%;
    height: 50%; 
     /* background-color: #ff8c00;  */
     background-color: green;
    
    display: flex;
    object-fit: cover;
}
.cardmidleft{
    width: 50%;
    height: 136%;
    background-color: #4caf50;
    background-color: green;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    font-size: 10px;
}
.cardmidright{
    /* width: 100%;
    height: 136%; */
    /* background-color:#4caf50; */
    background-color: white;
    object-fit: cover;
}
.cardbottom{
    width:100%;
    height:25%;
    background-color:grey;
    /* color: grey; */
    color: white;
    text-align: center; 
    border-radius: 5%;
    object-fit: cover;
 
} 
h6{
    font-size: 10px;

}
img{
    height: 100%;
}
.button{
    display: flex;
    justify-content: space-between;
   width: 100%;
    height: 10%;
   padding: 5px;


}


