<div class="main">
  <div class="header">

    <p><b>All students</b></p>
    <p>Submit your id cards</p>
  </div>
  <div class="footer" >


    <div class="card" *ngFor="let details of studentcard">
      <div class="cardtop">
        <img 
          [src]="details.school_logo"
          alt="details.school_logo"
          width="20%"
          height="100%">

          <h3>{{details.school_name}}</h3>
      </div>
      <div class="cardmid" >
        <div class="cardmidleft">
          <h5>
          <div class="name">  Name :{{details.name}}</div>
          <div class="name">  Phone :{{details.phone}}</div>
          <div class="name">  City :{{details.city}}</div>
          <div class="name">  DOB :{{details.dob}}</div>
          <div class="name">  Email :{{details.email}}</div>
          </h5>
          
        </div>
        <div class="cardmidright">

          <img
            [src]="details.profile_picture"
            alt=""
            width="140px"
            height="90px"/>

        </div>
      </div>
      <div class="cardbottom" >
               <h6>school city : <b>{{details.school_city}}</b>,
               school pin : <b>{{details.school_pin}}</b>,<br>
                <!-- Id :<b>{{details.id}}</b> -->
                 <div class="button">
                  <button>view</button>
                 <button class="btn btn-info">Edit</button>
                 <button class="btn btn-delete">Delete</button>
                 </div> 
        </h6>
      </div>
    </div>
  </div>
</div> 
 
