.parent{
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 50%;
    background-color: violet;
    text-align: center;
    border-radius: 10%;

}
.num{
    width: 20%;
    padding: 1%;
}
.bt{
    background-color: palevioletred;
    width: 10%;
    padding: 5px;

    border-radius: 5%;
    border: 0%;
    text-decoration: none;
}