<div>
<div class="parent"><div class="left">

    <h1>Dashboard</h1>
    <h3>Home</h3>
    <h3 routerLink="welcome">Welcome</h3>
    <h3 routerLink="/login">Logout</h3>
    <h3 routerLink="Databinding">DataBinding</h3>
    <h3 routerLink="calculator">Calculator</h3>
    <h3 routerLink="rectangle">Rectangle</h3>
    <h3 routerLink="circle">Circle</h3>
    <h3 routerLink="bmi">BMI</h3>
    <h3 routerLink="emi">Emi-Calculator</h3>
    <h3 routerLink="directives">Directives</h3>
    <h3 routerLink="employee">Employee</h3>
    <h3 routerLink="flipkart"> EmployeeFlipkart</h3>
    <h3 routerLink="vehicle">Vehicle</h3>
  <h3 routerLink="account">Account</h3>
  <h3 routerLink="mail">Mail</h3>
  <h3 routerLink="weather">Weather</h3>
  <h3 routerLink="create-user">Create-user</h3>
  <h3 routerLink="student-card">Student</h3>
  <h3 routerLink="practice">Practice</h3>
  <h3 routerLink="sibling">Slibling</h3>
  <h3 routerLink="parent">Parent</h3>




</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
    </div>

