<div>
<div class="parent"><div class="left">

    <h1>Dashboard</h1>
    <h3>Home</h3>
    <h3 routerLink="welcome">Welcome</h3>
    <h3 routerLink="/login">Logout</h3>
    <h3 routerLink="Databinding">DataBinding</h3>
    <h3 routerLink="calculator">Calculator</h3>
    <h3 routerLink="rectangle">Rectangle</h3>
    <h3 routerLink="circle">Circle</h3>
    <h3 routerLink="bmi">BMI</h3>
    <h3 routerLink="emi">Emi-Calculator</h3>

    
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
    </div>

